.App {
  background-color: #282c34;
  color: whitesmoke;
  font-family: monospace 
}

.Status_Todo {
  color: green; 
}

.Status_Wip {
  color: darkred; 
}

.Status_Review {
  color: darkgoldenrod; 
}

.Status_NoStatus {
  color: gray;
}

.Context {
  background-color: darkblue;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
