.App {
  background-color: #282c34;
  color: whitesmoke;
  font-family: monospace;
  min-height: 100vh;
}

.DayBlock {
  margin: 5px 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-color: darkgrey;
  border-width: 1px;
  border-radius: 10px;
  display: flex;

  .DayBlockDate {
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px 0px 5px;

    .Date {
      font-weight: bold;
    }
  }
  .DayDiff_NONE {
  }
  .DayDiff_NEGATIVE {
    color: darkred;
  }
  .DayDiff_TODAY {
    color: yellow;
  }
  .DayDiff_POSITIVE {
  }

  .TaskLine {
    display: flex;

    .Project {
      text-align: right;
      width: 15em;
      margin-right: 5px;
      padding-right: 5px;
    }

    .Description {
      width: 25em;
    }

    .TaskType_NO_DATES {
    }
    .TaskType_DUE {
      color: darkred;
    }
    .TaskType_DUE_WITH_START {
      color: darkred;
      font-style: italic;
    }
    .TaskType_START {
    }
    .TaskType_START_WITH_DUE {
      color: darkgreen;
    }
    .TaskType_VISIBLE_ONLY {
    }
  }
}

.WeekBlock {
  margin: 10px 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-color: darkgreen;
  border-width: 0px 0px 5px 0px;
  .WeekRange {
    font-weight: bold;
  }
}
